
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.out
*.a
*.bak
*.test


go.work.sum


vendor/


.env
.env.local


*.log


.vscode/
.idea/


*.db
*.sqlite
/db_data/


/public/uploads/


docker-compose.yml.local
